/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
div {
  box-sizing: border-box;
}
nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  position: fixed;
}
nav .logo {
  width: 350px;
  padding: 10px;
  padding-left: 100px;
}
nav .logo .img-logo-condensed {
  display: none;
}
@media (max-width: 500px) {
  nav .logo .img-logo-fullsize {
    display: none;
  }
  nav .logo .img-logo-condensed {
    display: flex;
  }
}
nav .logo:hover {
  cursor: pointer;
}
nav .logo img {
  width: 100%;
}
.navlinks {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 100px;
}
.navlinks a {
  font-family: 'Montserrat';
  font-size: 2rem;
  text-decoration: none;
  color: white;
  transition: all 50ms linear;
}
.navlinks a:hover {
  color: lightgrey;
}
.navlinks a .signup-button {
  padding: 15px 30px 15px 30px;
  background-color: #358df5;
  border-radius: 90px;
  border: 2px solid #358df5;
  color: white;
  font-size: 2rem;
  transition: all 50ms linear;
}
.navlinks a .signup-button:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #d7e8fd;
  box-shadow: 0 0 15px #d7e8fd;
  color: white;
}
html {
  font-size: 62.5%;
  background-image: url(../img/crafts-img.jpg);
  background-size: cover;
  background-position: center;
}
html h1,
html h2,
html h3,
html p {
  color: white;
  font-family: 'Montserrat';
}
html h1 {
  font-size: 8rem;
}
html h2 {
  font-size: 5rem;
}
html h3 {
  font-size: 3rem;
}
html .container {
  margin: 0 auto;
  max-width: 1350px;
  padding-top: 100px;
  height: 100%;
}
html .container p {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 2rem;
}
html .container .bio {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}
html .container .bio h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 4px solid ;
}
html .container .bio .dev-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
html .container .bio .dev-box .profile-img-container {
  width: 25%;
  border: 8px solid #76b2f8;
  padding: 16px;
}
html .container .bio .dev-box .profile-img-container img {
  width: 100%;
}
html .container .bio .dev-box .info-text {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
html .container .bio .dev-box .info-text h3,
html .container .bio .dev-box .info-text p {
  padding-top: 20px;
  padding-bottom: 20px;
}
html .img-banner {
  position: fixed;
  width: 100%;
}
html .img-banner img {
  width: 100%;
}
footer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 30px 0px 30px 0px;
  color: white;
  font-family: 'Montserrat';
}
