/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
div {
  box-sizing: border-box;
}
nav {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid lightgrey;
}
nav .logo {
  width: 200px;
  padding: 10px;
}
nav .logo:hover {
  cursor: pointer;
}
nav .logo img {
  width: 100%;
}
nav .navlinks {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
nav .navlinks a {
  font-family: 'Montserrat';
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
nav .navlinks a:hover {
  color: blue;
}
nav .navlinks a .signup-button {
  padding: 15px 30px 15px 30px;
  background-color: #b6d6fb;
  border-radius: 90px;
  border: 2px solid #b6d6fb;
  color: black;
}
nav .navlinks a .signup-button:hover {
  box-sizing: border-box;
  background-color: white;
  color: black;
}
html {
  font-size: 62.5%;
}
html .container {
  margin: 0 auto;
  max-width: 1350px;
  height: 100%;
}
html .container p {
  padding-bottom: 10px;
  font-size: 2rem;
}
footer {
  background-color: #76b2f8;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 30px 0px 30px 0px;
  color: white;
  font-family: 'Montserrat';
}
