html{
    font-size: 62.5%;
    .container {
        margin: 0 auto;
        max-width: 1350px;
        height: 100%;
        p{
            padding-bottom: 10px;
            font-size: 2rem;
        }
    }
}