html{
    font-size: 62.5%;
    background-image: url(../img/crafts-img.jpg);
    background-size: cover;
    background-position: center;
    h1, h2, h3, p{
        color:@Headerfont-color;
        font-family: @font-family;
    }
    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 5rem;
        font-weight: bold;
    }

    h3 {
        font-size: 3rem;
    }
    @media @mobile{
        h1{
            font-size: 5rem; 
        }
        h2{
            font-size: 4rem;
        }
        h3{
            font-size: 2rem;
        }
    }
    .container {
        margin: 0 auto;
        max-width: 1350px;
        height: 100%;
        padding-top: 100px;
        height: 100%;
        p {
            padding-bottom: 10px;
            padding-top: 10px;
            font-size: 2rem;
        }
        .bio {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            height: 100%;
            h1{
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom:4px solid ;
            }
            .dev-box{
                background-color: @footerbg-color;
                padding: 20px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 20px;
                .profile-img-container{
                    width: 25%;
                    border:8px solid #76b2f8;
                    padding: 16px;
                    img {
                        width: 100%;
                    }
                    @media @mobile {
                        width: 100%;
                    }
                }
                @media @mobile {
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                .info-text {
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    h3, p{
                        padding-top: 20px;
                        padding-bottom: 20px;
                        @media @mobile {
                            width: 100%;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                    }
                    @media @mobile {
                        width: 100%;    
                    }
                }
                @media @mobile{
                    flex-direction: column;
                }
            }
        }
    }
    .img-banner {
        position: fixed;
        width: 100%;
        img{
            width: 100%;
        }
    }
}
