// navigation bar
@navbg-color: rgba(0, 0, 0, .5);
@navfont-color: white;
@navfont-family:'Montserrat';
@hover-color: lightgrey;

// footer
@footerbg-color: rgba(0, 0, 0, .5);
@footerfont-color: white;
 
//button
@buttonbg-color: #358df5;