// navigation bar
@navbg-color: white;
@navfont-color: black;
@navfont-family:'Montserrat';
@hover-color: grey;

// footer
@footerbg-color: #76b2f8;
@footerfont-color: white;
 
//button
@buttonbg-color: #b6d6fb;